<div class="row mt-2">
    <div class="col-2">{{flight.flightNumber}}</div>
    <div class="col-2">{{flight.airlineName}}</div>
    <div class="col-2">{{flight.duration}}</div>
    <div class="col-2">{{flight.fare}}</div>
    <div class="col"> 
        <button class="btn btn-warning btn-sm" (click)="continueBooking(flight)" *ngIf="!showAdmin && isLoggedIn()">Continue Booking</button>
    </div>
    <div class="col"> 
        <button class="btn btn-warning btn-sm" (click)="editFlight(flight)" *ngIf="showAdmin">Edit</button>
    </div>
</div>
