<div class="container mt-5 bg-info p-4 border border-secondary rounded">
    <div>
        <div class="heading">
            <h5>Log In</h5>
        </div>

        <form [formGroup]="loginForm">
            <div class="row pt-3">
                <div class="col-3">
                    <input type="text" class="form-control form-control-sm p-2" formControlName="username" placeholder="username">
                </div>  
            </div>
            <div class="row pt-3">
                <div class="col-3">
                    <input type="password" class="form-control form-control-sm p-2" formControlName="password" placeholder="password">
                </div>  
            </div>
            <div class="row pt-3">
                <div class="col-3">
                    <button class="btn btn-warning" (click)="checkLogin()">Login</button>
                </div>
            </div>
        </form>    

    </div>
  
</div>

