<div class="container-md mx-auto">
    <div class="container mt-5 bg-info p-4 border border-secondary rounded">
        <div *ngIf="searchFlightbyPersonON">
            <div class="heading">
                <h5>Search Flight by Persons</h5>
            </div>
    
            <form [formGroup]="searchFlightForm">
                <div class="row pt-3">
                    <div class="col-3">
                        <button class="btn btn-sm btn-secondary" (click)="toggleSearch()">Search by flight no.</button>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-3">
                        <input type="text" class="form-control form-control-sm" formControlName="origin">
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control form-control-sm" formControlName="destination">
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control form-control-sm" formControlName="flightDate">
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control form-control-sm" formControlName="persons">
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-3">
                        <button class="btn btn-success" (click)="searchFlightbyPerson()">Search</button>
                    </div>
                </div>
            </form>
        </div>
        
        <div *ngIf="!searchFlightbyPersonON">
            <div class="heading pt-3">
                <h5>Search Flight by Flight Number</h5>
            </div>
    
            <form [formGroup]="searchFlightNumber">
                <div class="row pt-3">
                    <div class="col-3">
                        <button class="btn btn-sm btn-secondary" (click)="toggleSearch()">Search by Persons</button>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-3">
                        <input type="text" class="form-control form-control-sm" formControlName="flightNumber">
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control form-control-sm" formControlName="flightDate">
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-3">
                        <button class="btn btn-success" (click)="searchFlightbyNumber()">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <div>
            <div *ngIf="results" class="card mt-3 p-4 bg-secondary border border-secondary rounded">
                <h6 class="card-header">Flights Available</h6>
                <app-flight-card *ngFor="let flight of responseArray" [flight]="flight" 
                (continueBookingTrigger)="continueBookingTrigger()"></app-flight-card>
            </div>
    
            <div *ngIf="noFlights" class="card mt-3 p-4 bg-secondary border border-secondary rounded">
                <h6 class="card-header">No Flights Available</h6>
            </div>
        </div>
        
        <div *ngIf="continueBooking">
            <app-flight-details></app-flight-details>
            <app-passenger-details></app-passenger-details>
        </div>
        
    </div>
</div>