<div class="card bg-dark text-white">
    <div class="card-body">
        <div class="row pb-2">
            <div class="col-3">
                <label class="text-muted">Flight Number</label>
            </div>
            <div class="col-3">
                <label class="text-muted">PNR</label>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                {{booking.flightNumber}}
            </div>
            <div class="col-3">
                {{booking.pnr}}
            </div>
        </div>
    </div>
  </div>
